$red: rgb(236, 41, 41);
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.opacity-anim-fast{
  animation-name: opacity;
  animation-duration: .25s;
}
.opacity-anim {
  animation-name: opacity;
  animation-duration: 1s;
}

@keyframes scale-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.scale-pop-anim {
  animation-name: scale-pop;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes red-bg {
  0% {
    background-color: white !important;
  }
  50% {
    background-color: red !important;
  }
  100% {
    background-color: white !important;
  }
}

.red-anim {
  animation-name: red-bg;
  animation-duration: 1s;
  animation-timing-function: ease;
}


@keyframes color {
  0% {
    background-color:#278ffd;
    transform: scale(1);
  }
  50% {
    background-color: rgb(18, 60, 105);
    transform: scale(1.3);
  }
  100% {
    background-color: #278ffd;
    transform: scale(1);
  }
}

.color-blue-scale{
  animation: color 5s infinite;
}

@keyframes scroll-down {
  0% {
    height:0%;
  }
 
  
  100% {
    height:100%;
  }
}

@keyframes red-animation {
  from {
    background-color: red;
  } to {
    background-color: inherit;
  }
}

.red-animation{
  animation: red-animation 2s ease;
}